html{
    padding-top:-600px;

}

body {
    
    /* background-image: url(../images/fake_luxury_@2X.png); */
    background-color: grey;
    min-height: 100%;
    position: relative;
    font-family: 'Aldrich', sans-serif;
    font-size:15px; 
}



div .names{
    font-size:20px;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:110rem;
  }
  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
    perspective: 1000;
}
#buttonCircle{

}
.btn-floating.btn-large {
    width: 20px;
    height: 20px;
    padding: 10px;
    bottom: 1.25rem;
}


  .navStick {
    position: sticky;
    top: 0;
    width: 100%;
    
    z-index: 1000;
    opacity: 0.9;
    color:black;

  }

.videoContainer{
    top: 0;
    left: 0;
    width: 100%;
}

nav .brand-logo {
    position: absolute;
    color:white;
    display: inline-block;
    font-size: 1.1rem;
    bottom: -1.5rem;
}

#navColor{
    background-color: white;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

.social-media a {
    color: inherit;
}

.social-media-logos,
.heart-logo {
    font-size: 1.25rem;
    margin-left: 5px;
}

.social-media-div {
    background-color:rgb(114,139,111);
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: rem;
    margin-bottom: 0;
}
.heart-logo {
    color: red;
    margin-right: 5px;
}
/* .container {
    height: 100vh;
    position:relative;
    border: 3px solid green;
} */

.imgRow {
    width: 70.333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
#introDiv {
    background-color:whitesmoke;
    opacity: 0.5;
    border-radius: 100px;
    padding: 2rem;
    max-width: 100%
}

#secDiv {
    background-color:whitesmoke;
    opacity: 0.5;
    border-radius: 100px;
    padding: 2rem;
    width: 50%;
    float:left;
    left:21.2rem;
    position: relative;
}
.material-icons {
   color:rgb(114,139,111);
}
#border-button {
    color::rgb(114,139,111);
}

#headshot {
    margin-top: 17rem;
    margin-bottom: 9rem;
    top: -14.5rem;
    float: left;
    position: relative;
    border-radius: 7rem;
    opacity: 0.9;
    right: 4rem;
}

#headshot2 {
    width: 17rem;
    height: 17rem;
    border-radius: 10rem;
    opacity: 0.8;
    margin-top: 7rem;
}

#collapseContainer{
    /* background-color:black; */
    color:
}

#worksCollapse{
    background-color:rgb(114,139,111);
}